@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
--color-pimario: #f0f8ff;
--color-secundario:  #0A3871;
--color-terciario:  white;
--color-cuaternario: gray;

--fuente-inter:'Inter';

}

*{
    padding: 0;
    border: 0;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: var(--color-pimario);
    font-family: var(--fuente-inter);
    line-height:120%;
}

.logo{
    padding-top: 20px;
    padding-left:20px;
    width: 7%;
}



main{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    margin-left: 10rem;
}

.section-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80dvb;
    width: 50%;
}

.ingresa_texto{
    border:none;
    font-size: 2rem;
    width: 100%;
    max-width: 635px;
    height: 60dvh;
    color: var(--color-secundario);
    text-transform: lowercase;
    margin-bottom: 1.5rem;
       
}
/* Cambia el color del placeholder */
::placeholder {color: var(--color-secundario); /* Color del placeholder */}
   .ingresa_texto:focus{
        outline: none;
    }

.div-1{
    display: flex;
    align-items: center;
}    

.msg-input{
    font-size: 0.75rem;
    color: var(--color-cuaternario);
    margin-left: 1% ;
}

  
.botones{
    display: flex;
    margin-top: 10px;
    gap: 2rem;
}

.btn_encriptar{
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    font-size: 1rem;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 2px solid var(--color-secundario);
    cursor: pointer;
    
}

.btn_encriptar-2{
    background-color: #D8DFE8;
    color: var(--color-secundario);
    
}

.section-2{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   background-color: var(--color-terciario);
   height: 82dvb;
   width: 24rem;
   box-sizing: border-box;
   border-radius: 32px;
    
}

.salida_texto{
    background: var(--color-terciario);
    background-image: url("/imagen/muneco.png");
    background-repeat: no-repeat;
    background-position: 50%;
    border: none;
    border-radius: 32px;
    color:var(--color-secundario);
    font-size: 1.5rem;
    width: 20rem; 
    height: 65dvh; /* Establece una altura fija */
    padding: 20px; 
}

 .salida_texto:focus{
    outline: none;
 }

.btn_copiar{
    border: 2px solid var(--color-secundario);
    color: var(--color-secundario);
    font-size: 1rem;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    cursor: pointer;
    margin-top: 0.5rem;
   
}

.footer {
    font-size: 0.75rem; /* Corregido */
    background-color: var(--color-secundario);
    color: var(--color-pimario);
    text-align: center; /* Centra el texto en el footer */
    padding: 7px; /* Añade espacio dentro del footer */
    position: fixed; /* Fija el footer en la parte inferior de la ventana */
    bottom: 0; /* Ubica el footer en la parte inferior */
    width: 100%; /* Asegura que el footer ocupe todo el ancho de la pantalla */
}

/* Ajuste general para móviles y tablets */
@media (max-width:890px){

    main{
        flex-direction: column;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .logo{
        width: 15%;
        padding-bottom: 2rem;
      
    }

    .section-1{
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
        height: 45dvb;
        
    }

    .ingresa_texto{
        height: 32dvh;
        font-size: 1.5rem;
    }

    .section-2{
        width: 100%;
        max-width: 100%;
        height: 30dvh;
         
        
    }

    .salida_texto{
        margin-left: 0rem;
        width: 92.5%;
        justify-content: space-between;
        max-width: 100%;
        height: 55%;
        font-size: 1rem;
        background-image: none;
 }

    .btn_copiar{
        margin-top: 0rem;
    }
    
}

@media (max-width:649px){

    .botones{
        justify-content: center;
        flex-direction: column;
    }

    

}

